{% extends 'base.html.twig' %}

{% block title "Local" %}

{% block body %}
	<div class="contain mt-5">

		{{ include('local/_form.html.twig', {'button_label': 'Update'}) }}

		<a href="{{ path('local_index') }}"></a>

		{{ include('local/_delete_form.html.twig') }}
	</div>
{% endblock %}