{% extends 'base.html.twig' %}

{% block title "Edition"%}

{% block body %}
	<div class="contain mt-5">

		{{ include('ecriture/_form.html.twig', {'button_label': 'Update'}) }}
    		<a href="{{ path('ecriture_index') }}"></a>

		{{ include('ecriture/_delete_form.html.twig') }}
	</div>
{% endblock %}