{% extends 'base.html.twig' %}

{% block title "Locataire" %}

{% block body %}

	<div class="container mt-5">

		{{ include('locataire/_form.html.twig') }}

		<div class="col col-lg-2">
			<a href="{{ path('locataire_index') }}" class="btn btn-info">Annuler</a>
		</div>

	</div>
</div>
{% endblock %}