{% extends 'base.html.twig' %}

{% block title %}New Locataire{% endblock %}

{% block body %}
    <h1>Create new Locataire</h1>

    {{ include('locataire/_form.html.twig') }}

    <a href="{{ path('locataire_index') }}">back to list</a>
{% endblock %}
