<html>
	<div style="width:900px;">
		<div style="padding-left:10px; font= -family: verdana,geneva; font-size: medium; ">
			<table classe="table" style="border-collapse: collapse; width: 65%;" border="1" cellspacing="0" cellpadding="1">
				<tbody>
					<tr>
						<td style="text-align: center; font-size:smaller; " colspan="3">Bailleur</td>
					</tr>
					<tr>
						<td style="text-align: center; border-right: none;"><img style="width: 120px; height: 100px;" src="images/scidevergnes.png" alt=""/></td>
						<td style="border-left: none;" colspan="2">
							<div style="padding:5px; font-size: medium;">SCI de Vergnes<br/>6 all&eacute;e du Moulin<br/>33270 Bouliac<br/><span style="font-size:smaller;"><br/>T&eacute;l. : 06 69 38 88 08<br/>Email : scidevergnes@gmail.com<br/>SIRET 843718222 00014</span>
							</div>
						</td>
					</tr>
					<tr>
						<td style="font-size:smaller; padding-left:2px;" rowspan="3">Coord.<br/>bancaires</td>
						<td style="font-size:smaller; padding-left:2px;">Compte</td>
						<td style="font-size:smaller; padding-left:2px;">FR7630004019330001011175010</td>
					</tr>
					<tr>
						<td style="font-size:smaller; padding-left:2px;">Banque</td>
						<td style="font-size:smaller; padding-left:2px;">BNP Paribas</td>
					</tr>
					<tr>
						<td style="font-size:smaller; padding-left:2px;">Nom du titulaire</td>
						<td style="font-size:smaller; padding-left:2px;">SCI de Vergnes</td>
					</tr>
				</tbody>
			</table>
			<br/><br/>
			<div style="padding-left: 410px; font-family: verdana,geneva;">
				<table style="border-collapse: collapse;" border="1" cellspacing="0" cellpadding="2" width="361">
					<tbody>
						<tr>
							<td style="TEXT-ALIGN: center; font-size:smaller;">Locataire Destinataire</td>
						</tr>
						<tr>
							<td style="font-size: medium;">
								<div style="padding:5px;"> {{nom}} <br/>123 rue Billaudel<br/>33800 Bordeaux</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div style="padding-left:10px; font-family: verdana,geneva; font-size: me=
													dium; "><br/>
			<div style="padding-left: 410px;">Bouliac, le {{ date|date('d/m/Y') }} <br/>&nbsp;</div>
			Objet : RELANCE IMPAY&Eacute;S<br/><br/><br/>
			{{ nom }},
			<br/>
			<br/>Sauf erreur de ma part, je n'ai pas enregistr&eacute; de r&egrave;glement cor
													respondant aux loyers dont vous m'&ecirc;tes redevable.
			<br/>
			<br/>Vous voudrez donc bien me faire parvenir sous huit jours, au titre des loyers et 
													accessoires d&eacute;taill&eacute;s ci-dessous, un r&egrave;glement de :
			<span style="white-space:nowrap;">564,51 &euro;</span>
			<br/><br/><table style="border-collapse: collapse;" border="1" cellspacing="0" cellpadding="2">
				<tbody>
					<tr>
						<td>
							<strong>
								<strong></strong>
							</strong>
						</td>
						<td>
							<strong>Local<strong></strong>
							</strong>
						</td>
						<td>
							<strong>Loyer<strong></strong>
							</strong>
						</td>
						<td>
							<strong>Charges<strong></strong>
							</strong>
						</td>
						<td>
							<strong>Total<strong></strong>
							</strong>
						</td>
						<td>
							<strong>Solde &agrave; payer<strong></strong>
							</strong>
						</td>
						<td>
							<strong>&Eacute;ch&eacute;ance<strong></strong>
							</strong>
						</td>
					</tr>
					<tr>
						<td style="font-size:smaller; padding-left:5px;padding-right:3px;">Mars 2021</td>
						<td style="font-size:smaller; padding-left:5px;padding-right:3px;">Billaudel<br/>123 rue Billaudel  33800 Bordeaux</td>
						<td style="font-size:smaller; padding-left:5px;padding-right:3px;">
							<span style="white-space:nowrap;">136,77 &euro;</span>
						</td>
						<td style="font-size:smaller; padding-left:5px;padding-right:3px;">
							<span style="white-space:nowrap;">7,74 &euro;</span>
						</td>
						<td style="font-size:smaller; padding-left:5px;padding-right:3px;">
							<span style="white-space:nowrap;">144,51 &euro;</span>
						</td>
						<td style="font-size:smaller; padding-left:5px;padding-right:3px;">
							<strong>
								<span style="white-space:nowrap;">4,51 &euro;</span>
							</strong>
						</td>
						<td style="font-size:smaller; padding-left:5px;padding-right:3px;">01/03/2021</td>
					</tr>
					<tr>
						<td style="font-size:smaller; padding-left:5px;padding-right:3px;">Avril 2021</td>
						<td style="font-size:smaller; padding-left:5px;padding-right:3px;">Billaudel<br/>123 rue Billaudel  33800 Bordeaux</td>
						<td style="font-size:smaller; padding-left:5px;padding-right:3px;">
							<span style="white-space:nowrap;">530,00 &euro;</span>
						</td>
						<td style="font-size:smaller; padding-left:5px;padding-right:3px;">
							<span style="white-space:nowrap;">30,00 &euro;</span>
						</td>
						<td style="font-size:smaller; padding-left:5px;padding-right:3px;">
							<span style="white-space:nowrap;">560,00 &euro;</span>
						</td>
						<td style="font-size:smaller; padding-left:5px;padding-right:3px;">
							<strong>
								<span style="white-space:nowrap;">560,00 &euro;</span>
							</strong>
						</td>
						<td style="font-size:smaller; padding-left:5px;padding-right:3px;">01/04/2021</td>
					</tr>
				</tbody>
			</table>
			<br/>
			<br/>Je vous remercie par avance de votre diligence.
			<br/><br/>
			<div style="padding-left: 350px; font-family: verdana,geneva;">SCI de Vergnes<br/><br/><br/><br/><br/><br/><br/>&nbsp;</div>
		</div>
	</div>
</html>