{% extends 'base.html.twig' %}

{% block title "edit" %}

{% block body %}

	<div class="container">

		{{ include('fournisseur/_form.html.twig') }}

		<div class="col col-lg-2">
			<a href="{{ path('fournisseur_index') }}" class="btn btn-info">Annuler</a>
		</div>

	</div>
</div>
{% endblock %}