{% extends 'base.html.twig' %}

{% block title"Categorie"%}

{% block body %}
	<div class="contain mt-5">

		<a href="{{ path('categorie_index') }}"></a>
		{{ include('categorie/_form.html.twig', {'button_label': 'Update'}) }}
		<a href="{{ path('categorie_index') }}" class="btn btn-info">Annuler</a>
{% endblock %}