{% extends 'base.html.twig' %}

{% block title"Categorie"%}

{% block body %}
	<div class="contain mt-5">
		{{ include('categorie/_form.html.twig', {'button_label': 'Update'}) }}

		<a href="{{ path('categorie_index') }}"></a>

		{{ include('categorie/_delete_form.html.twig') }}
	</div>
{% endblock %}