{% extends 'base.html.twig' %}

{% block title "Edition Loyer" %}

{% block body %}

	<div class="container">

		{{ include('loyer/_form.html.twig') }}

		<div class="col col-lg-2">
			<a href="{{ path('loyer_index') }}" class="btn btn-info">Annuler</a>
		</div>


		<div class="col col-lg-2">
			<a href="{{ path('saisie_loyer', {'id' : loyer.id}) }}" class="btn btn-danger">Paiement ok</a>
		</div>
	</div>
</div>{% endblock %}