{% extends 'base.html.twig' %}

{% block title "New"%}

{% block body %}
	<h1>Creation d'un Loyer</h1>

	{{ include('loyer/_form.html.twig') }}

	<a href="{{ path('loyer_index') }}">back to list</a>
{% endblock %}