{% extends 'base.html.twig' %}

{% block title "Nouveau Loyer" %}

{% block body %}
	<div class="container mt-5">

		{{ include('loyer/_form.html.twig') }}

		<div class="col col-lg-2">
			<a href="{{ path('loyer_index') }}" class="btn btn-info">Annuler</a>
		</div>

	</div>
</div>{% endblock %}