{% extends 'base.html.twig' %}

{% block title"Edition"%}

{% block body %}

    {{ include('charge/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('charge_index') }}">Retour Liste</a>
{% endblock %}
