{% extends 'base.html.twig' %}

{% block title"Nouvelle Saisie" %}

{% block body %}

    {{ include('charge/_form.html.twig') }}

    <a href="{{ path('charge_index') }}">Rerour Liste</a>
{% endblock %}
