{% extends 'base.html.twig' %}

{% block title %}New Charge{% endblock %}

{% block body %}
    <h1>Create new Charge</h1>

    {{ include('charge/_form.html.twig') }}

    <a href="{{ path('charge_index') }}">back to list</a>
{% endblock %}
